* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;

  background-color: #fbfafa;
}
/* user dasshboard styling */

.user-dashboard {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  width: 30%;
  border: 1px solid #fbfafa;
  box-shadow: 1px 2px 5px gray;
  height: 80vh;
  margin: 3em auto;
  font-size: -7px;

  min-width: 30%;
}
.user-dashboard h3 {
  color: #8f8787;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profile-img {
  width: 60%;
  border-radius: 50%;
  height: 15vh;
  min-width: 20%;
  margin: 11px auto;
}

.dashboard-frame {
  margin-left: 5%;
}

.container1 h3 {
  background: #7bffe0;
  width: 90%;
  border-radius: 10px;
  margin: 5px;
  font-size: 25px;
  font-family: cursive;
  padding: 12px;
  border-top: transparent;
}
.container1 h3 i {
  background: #7bffe0;
  float: right;
}
.containerc h3 i {
  float: right;
}
.containerc h3 {
  width: 90%;
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 18px;
  box-shadow: 0 5px 2px -3px gray;
  padding: 12px;
  font-size: 20px;
  border-top: transparent;
}

/* Profile page styling */

.profile-nav {
  background-color: #25eabb;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 78em;
}

.profile-nav i {
  background-color: #25eabb;
  font-size: 35px;
}

.user-profile {
  display: flex;
  flex-direction: column;
  margin: 1em;
  border: 1px solid #fbfafa;
  box-shadow: 1px 2px 5px gray;
  height: 80vh;
  margin: 2em auto;
  min-width: 30%;
  width: 30%;
}

.profile-img2 {
  height: 20vh;
  width: 20vw;
  margin: 0 auto;
  text-align: center;
}

.profile-elem i {
  font-size: 1.7em;
  color: rgb(71, 70, 70);
  padding-left: 12px;
}

.profile-elem {
  display: flex;
  /* margin-right: 2px; */
}
.profile-elem div:last-child {
  color: blue;
  margin-top: -2em;
  padding: 10px;
}
.profile-elem div {
  padding-right: 50px;
  padding-top: -3em;
}

.profile-elem div h3:first-child {
  color: #bbb8b8;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-elem div h3:last-child {
  font-size: 15px;
  padding-bottom: -90em;
}
.name-field {
  margin-right: 5px;
  text-align: center;
  font-size: 25px;
  padding-top: -1em;
  font-family: cursive;
}

/* SIDENAV */

.sidenav-show {
  display: block;
}

/* EDIT PROFILE */

.profile-edit {
  height: 87vh;
  padding-left: 7em;
  padding-top: 7em;
}

.user-profile-edit {
  height: 100%;
  width: 110%;
}

#label {
  font-size: 1.5em;
}

.profile-btn {
  background-color: #15b18c;
  width: 45%;
  border-radius: 17px;
  border: none;
  padding-top: -3em;
  font-size: 20px;
  padding: 10px;
  color: white;
}

.btnProfile {
  margin-top: -15em;
  margin-left: 28em;
}

/* user view music */
.search-bar {
  width: 40%;
  border-radius: 8px;
}

.searchg {
  background-color: #fbfafa;
  border: none;
  box-shadow: red;
}

.view-div {
  display: flex;
  box-shadow: 0 5px 2px -3px gray;
}

.card-content p {
  font-size: 20px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 10%;
  line-height: 40px;
  color: #000;
}

.header {
  font-family: cursive;
  color: #22ad8d;
  font-size: 30px;
}

.card-action {
  font-size: 20px;
  color: rgb(138, 138, 138);
}

.modal-pop-up {
  height: 100%;
}

.modal-content h4:first-child {
  text-align: center;
  color: #22ad8d;
  font-family: cursive;
}

.author {
  text-align: center;
  font-size: 22px;
  color: #22ad8d;
}

.main-card-content {
  width: 80%;
  margin: 0 auto;
}
